/* 
    Document   : login
    Created on : Oct 8, 2013, 8:38:00 AM
    Author     : Amri
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background: #E9E9E9;
    margin: 0;
    padding: 0;
    font-family: Arial;
}

#login_form {
    width: 300px;
    background: #FFF url(..img/login_bg.jpg);
    border: 1px solid #D0D0D0;
    margin: 150px auto 0;
    padding: 1em;
    -moz-border-radius:  3px;
    -webkit-border-radius: 3px;
}

h1,h2,h3,h4,h5 {
    color: #002166;
    background-color: transparent;
    margin-top: 0;
    font-family: Arial Black, Arial;
    text-align: center;
}

input[type=text], input[type=password] {
    display: block;
    margin: 0 0 1em 0;
    width: 270px;
    border: 1px solid #D0D0D0;
    -moz-border-radius:  1px;
    -webkit-border-radius: 1px;
    padding: 1em;
    background-color: #F9F9F9;
}

input[type=submit] {
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius:  4px;
    -webkit-border-radius: 4px;
    background: #002166;
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
}

form a {
    border: none;
    margin-right: 1em;
    padding: 7px;
    text-decoration: none;
    font-size: 12px;
    -moz-border-radius:  4px;
    -webkit-border-radius: 4px;
    background: #002166;
    color: white;
    box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    -webkit-box-shadow: 0 1px 0 white;
}

input[type=submit]:hover, form a:hover {
    background: #002199;
    cursor: pointer;
}

.error {
    color: #393939;
    font-size: 15px;
}

fieldset {
    width: 300px;
    margin: auto;
    margin-bottom: 2em;
    display: box;
}

h1 {
    text-shadow: 0 1px 0 white;
}

#bottomInfo {
    background: #E3E3E3;
    border-top: 1px solid white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: .7em .7em .7em 2em;
    font-size: 8px;
    text-align: left;
}